/* ------------------------------- MAIN STYLING ----------------------------- */

html {
   margin: 0;
   height: 100%;
   width: 100%;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #757575;
  width:100%;
  height: 35vh;
  background-image: url("../img/doodles/light_doodles.png");
  background-size: 60em;
  background-position: top, bottom, right;
}

iframe {
 border:0;
}

.head {
  width: 100%
}

.light {
    width: 2.5em;
    height: auto;
    float:left;
    margin: 0.5em;
    cursor: pointer;
}

.dim {
  float:left;
  padding-top: 0.5em;
  cursor: pointer;
}

ul {
  display: flex;
  list-style: none;
  padding:0.5em;
  padding-top: 0;
  margin:0.5em;
  margin-top:0;
  align-items: center;
}

.nav-div {
  color: #7B8C00;
}

li {
  list-style: none;
  padding:1em;
  flex:1;
  padding:0.5em;
  margin:0.5em;
}

.navigation {
  text-decoration: none;
  color: #7B8C00;
}

.navigation:hover, .navigation:focus, .navigation:active {
  color: #C9C937;
  background: transparent;
  outline: none;
  border: none;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.nav-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#branding {
  margin: 2em;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-weight: lighter;
  font-size: 4em;
  color: #E45F00;
  margin: 0;
  padding:0.25em;
  padding-bottom: 0;
}

h2 {
  font-family: 'Sacramento', cursive;
  font-weight: lighter;
  font-size: 2.5em;
  color: #FF8500;
  margin: 1em;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  text-decoration-style: dotted;
}

h3 {
  font-size: 1.5em;
  color: #7B8C00;

}

h4 {
  font-size: 1.25em;
}

.fonts {
  display: flex;
  flex-direction: column;
}

.fonts-row-1 {
  flex:1;
  display:flex;
  align-items: center;
}

.fonts-row-2 {
  flex:1;
  display:flex;
  margin-bottom: 2em;
}

.sacramento {
  font-family: 'Sacramento', cursive;
  font-weight: lighter;
  font-size: 2.5em;
  text-decoration: none;
  flex:1;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  text-decoration: none;
  flex:1;
}

.fonts-desc {
  flex: 1;
}


.colors {
  display: flex;
  flex-direction: column;
}

.colors-row-1 {
  margin-top: 2em;
  flex:1;
  display:flex;
  align-items: center;
}

.colors-row-2 {
  flex:1;
  display:flex;
  align-items: center;
}

.colors-row-3 {
  flex:1;
  display:flex;
  align-items: center;
}

.colors-row-4 {
  flex:1;
  display:flex;
  align-items: center;
}

.colors-row-5 {
  flex:1;
  display:flex;
  align-items: center;
}

.colors-row-6 {
  flex:1;
  display:flex;
  align-items: center;
}

.color-palette {
  max-width: 40%;
  margin: 4%;
}


img {
  width:100%;
}


.mood-grid {
  display: flex;
  height: 100%;
  justify-content: center;
}

.mood-col {
  flex:50%;
  max-width: 35%;
  margin:0.15em;
}

#elements {
  margin: 2em;
}

code {
  display: inline-block;
  background-color: lightgrey;
  padding:2em;
  line-height: 2em;
  font-size: 1.25em;
}

.project-container {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.project-thumbnail {
  width:75%;
  transition-duration: 1s;
  margin:1em;
}

.project-thumbnail:hover, .project-thumbnail:focus, .project-thumbnail:active {
  filter: brightness(50%);
}

.dark {
  filter: brightness(50%);
}

.intext-link {
  text-decoration: none;
  color: #E45F00;
}

.intext-link:hover, .intext-link:focus, .intext-link:active {
  color: #FFFEAB;
}

.details {
  display: inline;
  text-decoration: none;
  color: white;
  background-color: #E45F00;
  padding:0.5em;
  font-size: 1.25em;
  transition-duration: 0.4s;
}

.details:hover, .details:focus, .details:active {
  border: 2px solid #E45F00;
  color: #E45F00;
  background-color: white;
}

#combined {
  margin: 2em;
}

@media screen and (min-width: 35em) {

  .fonts-desc {
    flex: 3;
  }

  .mood-col {
    flex:25%;
    max-width: 25%;
    margin:0.15em;
  }

  .project-thumbnail {
    width:50%;
  }

  .colors {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  .colors-column-1 {
    flex:50%;
  }

  .colors-column-2 {
    flex:50%;
  }

}

footer {
  background-color: #7B8C00;
  text-align: center;
  align-items: center;
  justify-content: center;
  width:100%;
  height:100%;
  padding-bottom: 2em;
}

.social-media-title {
  font-family: 'Sacramento', cursive;
  font-weight: lighter;
  font-size: 2.5em;
  color: white;
  padding: 0.5em;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.social-media {
  padding-bottom: 2em;
}

.social-media-item {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0.5em;
  text-decoration: none;
}

.icon {
  width: 3.5em;
  height: auto;
}

@media screen and (min-width: 50em) {
  .project-thumbnail {
    width:33.33%;
  }

  .color-palette {
    max-width: 20%;
    margin: 4%;
  }

  #branding {
    margin: 10em;
    margin-top: 0;
  }

  #elements {
    margin: 10em;
    margin-top: 0;
  }

  #combined {
    margin: 10em;
    margin-top: 0;
  }


}
