/* --------------------------- ABOUT PAGE STYLING --------------------------- */

.pre-resume {
  font-size: 0.9em;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 5em;
}

.header {
  display: flex;
  flex-direction: column;
  margin: 1em;
  align-items: center;
  justify-content: center;
}

.photo {
  max-width: 20em;
  margin-bottom: 0.5em;
}

.profile-picture {
  width: 10em;
}

.header-title {
  margin:0;
  padding:0;
  text-align: center;
}

.desc {
  color: #7B8C00;
  font-style: italic;
  font-size: 1em;
  margin: 3em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 25%;
  margin-top: 1em;
}

.contact-info{
  text-decoration: none;
  color: #757575;
}

.contact-item {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  align-items: center;
}

.contact-icon {
  width: 3em;
  height: 3em;
  margin-right: 0.5em;
}

.content {
  display:flex;
  flex-direction: column;
}

.extra {
  order:1;
}

.work-experience {
  order: 0;
  margin: 2em;
  max-width: 40em;
}

.experience-item {
  margin-top: 5em;
}

.first {
  margin-top: 2em;
}

.date {
  font-size: 0.8em;
  margin-bottom: 0;
}

.job-intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
}

.job-title {
  flex:1;
}

.divider {
  margin-left: 0.5em;
  margin-right: 2em;
}

.company {
  flex:1;
}

h2 {
  color: #7B8C00;
  text-decoration: none;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.title {
  order: 0;
  font-size: 2em;
  margin:0;
  padding:0;
  margin-top:1em;
}

.education {
  display: flex;
  flex-direction: column;
  margin: 2em;
}

.skills-item {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
  justify-content: center;
}

.skills-icon {
  width: 3em;
  height: 3em;
  margin-right: 1em;
}

table {
  width:100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}


.interests-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
}

.interests-icon {
  width: 3em;
  height: 3em;
}

.post-resume {
  font-size: 0.9em;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5em;
}

@media screen and (min-width: 40em) {
  .header {
    flex-direction: row;
    margin: 1em;
    align-items: center;
    justify-content: center;
  }

  .photo {
    flex:1;
    max-width: 20em;
    margin: 0.5em;
    margin-top: 1em;
    margin-bottom: 0;
  }

  .profile-picture {
    width: 100%;
  }

  .info {
    flex:1;
    display:flex;
    flex-direction: column;
    margin-left: 2em;
  }

  .header-title {
    order:0;
    margin:0;
    padding:0;
    text-align: left;
  }

  .desc {
    order:2;
    color: #7B8C00;
    font-style: italic;
    font-size: 1em;
    margin: 0;
    margin-top: 2em;
  }

  .contact {
    display: flex;
    order:1;
    flex-direction: column;
    align-items: left;
    padding-left: 0;
    margin-top: 0;
  }

  .contact-item {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    align-items: center;
  }

  .contact-icon {
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
  }

  .content {
    flex-direction: row;
    align-items: baseline;
  }

  .extra {
    flex:1;
    order:0;
  }

  .work-experience {
    flex:1;
    order:1;
  }

}

@media screen and (min-width: 60em) {
  .header {
    flex-direction: row;
    margin: 15%;
    margin-top: 0;
    align-items: center;
    justify-content: center;
  }

  .photo {
    flex:1;
    margin: 0.5em;
    margin-bottom: 0;
    min-width: 10em;
  }

  .profile-picture {
    width: 100%;
  }

  .info {
    flex:2;
    display:flex;
    flex-direction: column;
    margin-left: 5%;
  }

  .header-title {
    order:0;
    margin:0;
    padding:0;
    text-align: left;
  }

  .desc {
    order:1;
    color: #7B8C00;
    font-style: italic;
    font-size: 1em;
    margin: 0;
    margin-top: 2em;
    margin-bottom: 1em;
    max-width: 40em;
  }

  .contact {
    display: flex;
    order:2;
    flex-direction: row;
    align-items: left;
    padding-left: 0;
    margin-top: 0;
  }

  .contact-item {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    align-items: center;
    margin-right: 0.5em;
  }

  .contact-icon {
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
  }

  .content {
    margin-top: 1em;
  }

  .header {
    margin-bottom: 0;
  }

  .extra {
    flex:1;
    margin-right: 5em;
    margin-left: 5em;
  }

  .work-experience {
    flex:3;
  }

  .work-experience {
    margin-right: 5em;
  }

}
